<div class="header">
    <div class="logo">Console</div>
    <div class="right">
            <!-- 修改密码 -->
        <!-- <span style="cursor:pointer;margin-right: 20px;" (click)="isVisibleUpdatePassword = true">修改密码</span> <span style="cursor:pointer;" (click)="onSignout()">退出登录</span> -->
    </div>
</div>
<!-- <nz-modal [(nzVisible)]="isVisibleUpdatePassword" nzTitle="修改密码" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label nzRequired>旧密码</nz-form-label>
            <nz-form-control [nzErrorTip]="validateForm.get('oldPassword').hasError('required') ? '请输入旧密码！' : validateForm.controls.oldPassword.errors?.message">
                <input nz-input formControlName="oldPassword">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>新密码</nz-form-label>
            <nz-form-control [nzErrorTip]="validateForm.get('newPassword').hasError('required') ? '请输入新密码！' : validateForm.controls.newPassword.errors?.message">
                <input nz-input formControlName="newPassword">
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">取消</button>
        <button nz-button nzType="primary" (click)="handleOk()">修改</button>
    </ng-template>
</nz-modal> -->