<div style="width: 500px;height:500px;background:#9b9baf" #vc>
        <!-- (mousemove)="onMoveAdjust($event)" -->
    <div #adjust class="adjust">
        <div style="cursor: nw-resize; top: -5px"></div>
        <div style="cursor: n-resize; top: -5px"></div>
        <div style="cursor: ne-resize; top: -5px"></div>
        <div style="cursor: w-resize; left: -5px"></div>
        <div style="cursor: e-resize"></div>
        <div style="cursor: sw-resize; left: -4px"></div>
        <div style="cursor: s-resize"></div>
        <div style="cursor: se-resize"></div>
    </div>
</div>